body {
    background-color: rgb(2, 62, 119);
}

.square {
    width: 100px;
    aspect-ratio: 1/1;
    border-radius: 0.65rem;
    display: flex;
    align-items: center;
    justify-content: center;
}